<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="shortcut icon" href="./assets/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
  <title>Amazon Reviews Analysis</title>
  <style>
    .gradient-bg {
      background: linear-gradient(90deg, rgba(17, 223, 169, 1) 0%, rgba(3, 60, 88, 1) 49%, rgba(10, 32, 50, 1) 100%);
    }

    .btn-primary {
      background-color: #1a202c;
      color: #fff;
      transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
      background-color: #2d3748;
    }

    .section-title {
      font-size: 2.5rem;
      font-weight: 700;
      color: #2d3748;
    }

    .card {
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
    }
  </style>
</head>

<body class="text-gray-800 antialiased">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

  <main>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center gradient-bg" style="min-height: 75vh;">
      <div class="absolute top-0 w-full h-full bg-center bg-cover">
        <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
      </div>
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
            <div class="pr-12">
              <h1 class="text-white font-semibold text-5xl">
                Grasp the emotions underlying the words.
              </h1>
              <p class="mt-4 text-lg text-gray-300">
                Text sentiment prediction is a powerful tool that enables you to comprehend the emotions and opinions conveyed in your textual data.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
        style="height: 70px;">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>

    <section class="relative py-20 bg-gray-100">
      <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px;">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
      <div class="flex flex-col items-center justify-center">
        <h1 class="section-title py-2">Text Sentiment Prediction</h1>
      </div>
      <div class="container mx-auto px-4 py-12">
        <div class="flex flex-wrap items-center">
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="card">
              <form id="predictionForm">
                <div class="mb-4">
                  <label for="csvFileInput" class="block text-sm font-medium text-gray-600">Upload your CSV file</label>
                  <input type="file" id="csvFileInput" accept=".csv"
                    class="block w-full text-md px-3 py-2 mt-1 rounded-lg bg-white border-2 border-gray-300 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                </div>
                <div class="mb-4">
                  <label for="textInput" class="block text-sm font-medium text-gray-600">Text for Prediction</label>
                  <textarea id="textInput" placeholder="Enter text..." rows="4"
                    class="block w-full text-md px-3 py-2 mt-1 rounded-lg bg-white border-2 border-gray-300 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none"></textarea>
                </div>
                <button type="button" onclick="predict()"
                  class="btn-primary w-full text-lg font-semibold rounded-lg px-6 py-3 mt-3 shadow-xl hover:text-white">
                  Predict
                </button>
              </form>
            </div>
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="card">
              <h2 class="text-2xl font-semibold text-gray-800 underline mb-4">Prediction</h2>
              <div id="predictionResult" class="p-4 border rounded"></div>
            </div>
            <div class="card mt-6">
              <h2 class="text-2xl font-semibold text-gray-800 underline mb-4">Summary</h2>
              <div id="graphContainer" class="p-4 border rounded"></div>
            </div>
            <button id="downloadBtn" style="display:none" onclick="downloadPredictions()"
              class="btn-primary w-full text-lg font-semibold rounded-lg px-6 py-3 mt-6 shadow-xl hover:text-white">
              Download Predictions
            </button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="relative bg-gray-900 pt-8 pb-6">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <hr class="my-6 border-gray-400" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-white font-semibold py-1">
            &copy; 2024 Text Sentiment Prediction
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    function predict() {
      var csvFileInput = document.getElementById("csvFileInput");
      var textInput = document.getElementById("textInput");
      var predictionResult = document.getElementById("predictionResult");
      var graphContainer = document.getElementById("graphContainer");

      if (csvFileInput.files.length > 0) {
        var formData = new FormData();
        formData.append("file", csvFileInput.files[0]);

        fetch("http://localhost:5000/predict", {
          method: "POST",
          body: formData
        })
          .then(response => {
            return response.blob();
          })
          .then(blob => {
            document.getElementById("downloadBtn").style.display = "block";
            document.getElementById("downloadBtn").onclick = function () {
              var url = URL.createObjectURL(blob);
              var a = document.createElement("a");
              a.href = url;
              a.download = "Predictions.csv";
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            };
            downloadPredictions(); // Fetch plot image when button appears
          })
          .catch(error => {
            console.error("Error:", error);
          });

      } 
      else if (textInput.value.trim() !== "") {
        fetch("http://localhost:5000/predict", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ "text": textInput.value.trim() })
        })
          .then(response => response.json())
          .then(data => {
            predictionResult.innerHTML = "Predicted sentiment: " + data.prediction;
          });
      }
    }

    function downloadPredictions() {
      fetch("http://localhost:5000/plot")
        .then(response => response.blob())
        .then(blob => {
          var url = URL.createObjectURL(blob);
          var img = document.createElement("img");
          img.src = url;
          img.classList.add("w-full", "h-auto");
          var graphContainer = document.getElementById("graphContainer");
          graphContainer.innerHTML = ""; // Clear existing content
          graphContainer.appendChild(img); // Append the fetched image
        })
        .catch(error => {
          console.error("Error:", error);
        });
    }
  </script>
</body>

</html>
